.filter {
  background: darken($left-background-dark, 5%);
}
.sidebar {
  background-color: $left-background-dark;
  box-shadow: -3px 0 2px 0 darken($left-background-dark, 10%) inset;
  cursor: pointer;
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    padding: 0 0 5px;
  }
  &--title {
    color: $link;
    cursor: pointer;
    font-family: $bariol;
    font-size: $delta;
    font-weight: 400;
    padding: 5px;
    user-select: none;
    display: flex;
    align-items: center;
    > span {
      padding-left: 5px;
    }
    &:before {
      background: white url(../images/icon-caret-2-blue.svg) no-repeat center center / 10px auto;
      width: 14px;
      height: 14px;
      content: '';
      display: inline-flex;
      @include transform-origin(center center);
      @include transition-bounce;
    }
    &.collapsed {
      &:before {
        @include transform(rotateZ(-90deg));
      }
    }
    &.expanded {
        &:before {
          @include transform(rotateZ(0deg));
        }
      }
  }
  &--filter-batch {
    // background: transparent url('../images/icon-trash-grey.svg') no-repeat left 10px center / 10px auto;
    box-shadow: 0 -1px 0 0 $grey-border-light inset;
    // font-size: $zeta;
    font-weight: normal;
    // padding-left: 15px;
    // @include transition-bounce;
    > span {
      max-height: 30px;
      display: flex;
      padding: 10px 10px 10px 40px;
      align-items: baseline;
      background: $body url('../images/icon-trash-red.svg') no-repeat left 15px center / 12px auto;
      box-shadow: 0 1px 0 0 $grey-border-light inset;
      color: $red;
    }
    &:hover {
      > span {
        box-shadow: 0 1px 0 0 $grey-border-light inset, 5px 0 0 $red inset;
        background: darken($body, 5%) url('../images/icon-trash-red.svg') no-repeat left 15px center / 12px auto;
        // padding-left: 18px;
        // @include transition-bounce;
      }
    }
  }
  &--filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &.expanded {
      @include transition-bounce;
      .sidebar--title {
        border-bottom: 1px solid $grey-border-light;
        &:before {
          @include transform(rotateZ(0deg));
        }
      }
    }
    &.collapsed {
      @include transition-bounce;
      .sidebar--title {
        &:before {
          @include transform(rotateZ(-90deg));
        }
      }
      // .sidebar--list, .sidebar--filter-batch {
      //   display: none;
      // }
    }
  }
  &--batch-action {
    color: white;
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    padding: 5px 0;
    span {
      display: flex;
      padding: 5px 10px;
      border-radius: 2px;
      align-items: center;
      &:hover {
        background: darken($left-background-dark, 10%);
      }
    }
    img {
      height: 10px;
      margin-right: 5px;
    }
    .expand {
      img {
        transform: rotateZ(0deg);
      }
      &.expanded {
        img {
          transform: rotateZ(-90deg);
        }
      }
    }
    .clear {
      background: transparent url('../images/icon-trash-white.svg') no-repeat left 5px center / 10px auto;
      padding-left: 20px;
      &:hover {
        background: $red url('../images/icon-trash-white.svg') no-repeat left 5px center / 10px auto;
      }
    }
  }
}
.layout--lg .sidebar {
	&--batch-action {
		color: $red;
		position: fixed;
		top: 118px;
		left: 58px;
		z-index: 10;
		width: 16.2%;
		.clear {
			background: #fff url('../images/icon-trash-red.svg') no-repeat left 5px center / 12px auto;
			padding-left: 25px;
			color: $red;
			&:hover {
				background: $red url('../images/icon-trash-white.svg') no-repeat left 5px center / 12px auto;
				color: white;
			}
	}
	}
}
.checkbox_wrap {
  display: block;
  position: relative;
  input[type=checkbox] {
    display: none;
    &:checked + .checkbox_label:before {
      background: url('../images/checkbox_checked.svg') no-repeat center center #fff;
      box-shadow: 0 0 0 2px $green-icon;
    }
    &:disabled + .checkbox_label {
      opacity: .5;
      :before {
        opacity: .5;
      }
    }
  }
  &.checkbox_indeterminate .checkbox_label:before {
    background: url('../images/checkbox_indeterminate.svg') no-repeat center center #fff;
    box-shadow: 0 0 0 2px $green-icon;
  }
  // IE indeterminate fix
  &.checkbox_indeterminate {
    input[type=checkbox]:checked + .checkbox_label:before {
      background: url('../images/checkbox_indeterminate.svg') no-repeat center center #fff;
      box-shadow: 0 0 0 2px $green-icon;
    }
  }
}
.checkbox_list_item {
  float: left;
  margin: 5px 10px 0 0;
}
.checkbox_label {
  color: $heading;
  cursor: pointer;
  display: block;
  font-size: $zeta;
  font-weight: bold;
  margin-top: 5px;
  padding-left: 24px;
  &:before {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 2px $grey-icon-highlight;
    content: '';
    height: 14px;
    left: 0;
    margin-top: -7px;
    position: absolute;
    top: 8px;
    width: 14px;
  }
  &:hover:before {
    box-shadow: 0 0 0 2px $grey-icon;
  }
  &.disabled {
    cursor: default;
    opacity: .5;
    text-decoration: line-through;
  }
  b {
    color: $heading;
  }
}
