  <script type="text/ng-template" id="modal-4">
    <section class="ngdialog-message">
      <section class="modal--wrapper">
        <h1 class="modal--title">Send Me Cloud Comparison Data</h1>
        <div class="modal--content">
          <div class="modal--content-text">
						<p>Please provide an email address for sending the exported data in CSV form.</p>
						<form class="signup-form marketo subscribe-form export-form selected-export" accept-charset="UTF-8" name="export_form" id="sign_up_form" ng-submit="confirm(export_form.$valid)" ng-controller="FormController">
								<input id="email" ng-model="email" name="email" type="email" placeholder="Business Email" value="" class="subscribe-email required" title="Please enter a valid email address." required>
										  <div class="check-detail">
										    <input type="checkbox" name="CloudCompare_Subscribe" id="CloudCompare_Subscribe" value="false" ng-model="subscribe" ng-change="changeSta(subscribe)" />
										    <label for="CloudCompare_Subscribe">Opt me in to Cloud Comparison Quarterly Updates</a>  <a ng-hide="share_link_generated" data-tooltip="We'll send you information on new cloud provider services and new Cloud Comparison features (1-3x per quarter)." data-placement="bottom">
			            <img src="images/icon-help-grey.png">
			          </a></label>
										  </div>
								<input name="CCRecipients" id="CCRecipients" class="subscribe-email" ng-model="fields_to_gather.CCRecipients" type="text" placeholder="Additional Recipients (comma separated)" value="">
							  <div id="form_message" class="hidden message"></div>
								<button type="submit" class="subscribe-button multiple-subscribe" ng-csv="exportSelected()" csv-header="getHeaders()" filename="rightscale-cloud-comparison-filtered-data.csv">Subscribe</button>
							<ul>
								<li style="display: none;">
									<label for="elqSiteID">elqSiteID</label>
									<input type="hidden" ng-model="fields_to_gather.elqSiteID" name="elqSiteID" id="elqSiteID" value="2391">
								</li>
								<li style="display: none;">
									<label for="elqFormName">elqFormName</label>
									<input type="hidden" ng-model="fields_to_gather.elqFormName" name="elqFormName" id="elqFormName" value="Cloud-Comparison-Tool-Subscribe">
								</li>
								<li style="display: none;">
									<label for="form_url">form_url</label>
									<input type="hidden" ng-model="fields_to_gather.form_url" name="form_url" id="form_url" value="Cloud-Comparison-Tool-Subscribe">
								</li>
								<li style="display: none;">
									<label for="FileName">File Name:</label>
									<input name="FileName" id="FileName" ng-model="fields_to_gather.FileName" type="hidden" value="rightscale-cloud-comparison-filtered-data.csv">
								</li>
								<li style="display: none;">
									<label for="EmailMessage">Email Message:</label>
									<input name="EmailMessage" id="EmailMessage" ng-model="fields_to_gather.EmailMessage" type="hidden" value="">
								</li>
								<li style="display: none;">
									<label for="LeadSource">Lead Source:</label>
									<input name="LeadSource" id="LeadSource" ng-model="fields_to_gather.LeadSource" type="hidden" value="">
								</li>
								<li style="display: none;">
									<label>Company:</label>
									<input name="company" ng-model="fields_to_gather.company" id="company" type="hidden" value="No Company Given">
								</li>
								<li style="display: none;">
									<label for="Source_Detail__c">Source Detail:</label>
									<input name="Source_Detail__c" ng-model="fields_to_gather.Source_Detail__c" id="Source_Detail__c" type="hidden" value="">
								</li>
								<li style="display: none;">
									<label for="SFDC_Campaign_ID__c">SFDC Campaign ID:</label>
									<input name="SFDC_Campaign_ID__c" ng-model="fields_to_gather.SFDC_Campaign_ID__c" id="SFDC_Campaign_ID__c" type="hidden" value="">
								</li>
								<li style="display: none;">
									<label for="SFDC_Campaign_Status__c">SFDC Campaign Status:</label>
									<input name="SFDC_Campaign_Status__c" ng-model="fields_to_gather.SFDC_Campaign_Status__c" id="SFDC_Campaign_Status__c" type="hidden" value="">
								</li>
								<li style="display: none;">
									<label for="Web_Form_URL__c">Web Form URL:</label>
									<input name="Web_Form_URL__c" ng-model="fields_to_gather.Web_Form_URL__c" id="Web_Form_URL__c" type="hidden" value="http://www.rightscale.com/cloud-comparison-tool/email-selected-data">
								</li>
								<li style="display: none;">
									<label for="Assignment_Guidance__c">Assignment Category:</label>
									<input name="Assignment_Guidance__c" ng-model="fields_to_gather.Assignment_Guidance__c" id="Assignment_Guidance__c" type="hidden" value="All">
								</li>
								<li style="display: none;">
									<label for="Partner_Source__c">Partner Source:</label>
									<input name="Partner_Source__c" ng-model="fields_to_gather.Partner_Source__c" id="Partner_Source__c" type="hidden" value="">
								</li>
								<li style="display: none;">
									<label for="RecordTypeId">RecordTypeId:</label>
									<input name="RecordTypeId" ng-model="fields_to_gather.RecordTypeId" id="RecordTypeId" type="hidden" value="012700000005loFAAQ">
								</li>
								<li style="display: none;">
									<label for="FormName">Form Name:</label>
									<input name="FormName" ng-model="fields_to_gather.FormName" id="FormName" type="hidden" value="Contact_Us">
								</li>
								<li style="display: none;">
									<label for="Offer_Source__c">Offer Source:</label>
									<input name="Offer_Source__c" ng-model="fields_to_gather.Offer_Source__c" id="Offer_Source__c" type="hidden" value="Cloud Compare - Report">
								</li>
								<li style="display: none;">
									<label for="QueryParameters">Query Parameters</label>
									<input type="hidden" ng-model="fields_to_gather.QueryParameters" name="QueryParameters" id="QueryParameters" value="{{query_parameters}}">
								</li>
								<li style="display: none;">
									<label for="_mkt_trk">_mkt_trk</label>
									<input type="hidden" ng-model="fields_to_gather._mkt_trk" name="_mkt_trk" id="_mkt_trk" value="{{_mkt_trk}}">
								</li>
								<input name="asset_label" ng-model="fields_to_gather.asset_label" id="asset_label" type="hidden" value="Subscribe to Cloud Comparison Updates">
                <input name="listenloop" ng-model="fields_to_gather.listenloop" id="listenloop" type="hidden" value="Subscribed to CC updates">
							</ul>

						</form>
          </div>
        </div>
      </section>
    </section>
    </section>
  </script>
	<aside id="thank-you-selected" class="mfp-hide blue-modal center">
	    <header>
	        <h2>Email Sent</h2>
	    </header>
	    <h3>The CSV file with your selected Cloud Comparison data has been sent.</h3>
	    <h4>Please check your Inbox and/or Spam Filter.</h4>
	</aside>
